In [21]:
import pandas as pd 
def matrix_calculation_nbyn(a,b):
    matrix=[]
    for i in range(len(a)):
        min_matrix=[]
        for j in range(len(a[i])):
            min_sum=[]
            for k in range(len(b)):
                product=a[i][k]*b[k][j]
                min_sum.append(product)
            min_matrix.append(sum(min_sum))
        matrix.append(min_matrix)
    print(matrix)
    return matrix
    
A=[[1,2,3,4],[1,2,3,4],[1,2,3,4],[1,2,3,4]]
B=[[1,2,3,4],[1,2,3,4],[1,2,3,4],[1,2,3,4]]
matrix=matrix_calculation_nbyn(A,B)

[[10, 20, 30, 40], [10, 20, 30, 40], [10, 20, 30, 40], [10, 20, 30, 40]]

In [16]:
import numpy as np 
import pandas as pd 

data_a=np.arange(25).reshape(5,5)
data_a
data_b=pd.DataFrame(np.random.randn(25).reshape(5,5))
data_b

          0         1         2         3         4
0 -0.529036 -0.765473  1.361628  0.803296 -1.401654
1 -0.863237  0.748552 -1.125180 -1.178342  1.285320
2  0.031881  1.514243 -0.820025 -0.318539  0.991113
3 -0.352892  0.283011  0.941337 -0.745239  0.962404
4  1.266905  2.011900 -0.139297 -0.233262  1.716404

In [28]:
matrix=matrix_calculation_nbyn(data_a,data_b)

[[-1.238946087345905, 0.10444509641085897, 2.883029759432306, 3.779586693924167, 7.8991342985708295], [-3.895146580798901, -5.559992145368524, 9.876397909419975, 9.222696376441561, 31.0123818958521], [-6.551347074251895, -11.224429387147904, 16.869766059407645, 14.665806058958957, 54.125629493133374], [-9.207547567704893, -16.888866628927286, 23.863134209395316, 20.108915741476352, 77.23887709041466], [-11.863748061157885, -22.553303870706664, 30.856502359382986, 25.552025423993747, 100.35212468769593]]

In [30]:
data_matrix=pd.DataFrame(matrix,columns=['first','second','third','fourth','fifthr'],index=[x+1 for x in range(len(matrix))])
data_matrix.head()

       first     second      third     fourth      fifthr
1  -1.238946   0.104445   2.883030   3.779587    7.899134
2  -3.895147  -5.559992   9.876398   9.222696   31.012382
3  -6.551347 -11.224429  16.869766  14.665806   54.125629
4  -9.207548 -16.888867  23.863134  20.108916   77.238877
5 -11.863748 -22.553304  30.856502  25.552025  100.352125